<footer class="ed-header s-bg-grey s-py-4">
    <span>Ubicanos en: San Pablo 2124, Santiago, Región Metropolitana, Chile</span> <br> <br>
    <div class="redes s-right m-left lg-center"> Siguenos en: 
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
</footer>