.ed-header{
    height: 320px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a32518, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #80180d, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ed-header span{
    
    margin-left: 30px;
    color: #fff;
    font-size: 30px;
    padding-inline-end: 10px;
    letter-spacing: 1.7px;
    font-weight: 950;
    font-family: 'Amatic SC', cursive;
}
.ed-header .redes{
    margin-top: 30px;
    color: #fff;
    font-size: 35px;
    padding-inline-end: 10px;
    letter-spacing: 1.7px;
    font-weight: 950;
    font-family: 'Amatic SC', cursive;
}
.ed-header .redes i{
    margin-left: 45px;
    font-size: 40px;
}
.ed-header .redes i:hover{
    transform: scale(1.14);
    transition: .5s; 
    opacity: .8;
    transition-delay: 100ms;
}