.ed-header{
    position: fixed;
    display: block;
    background: rgb(11, 11, 12);
    width: 100%;
    margin: 0 !important;
    height: 80px;
    z-index: 2000;
}
.nav ul>li{
    list-style: none;
    text-decoration: none; 
}
.nav ul>li a{
    text-decoration: none;
    color: rgb(226, 223, 219);
    font-size: 17px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Chelsea Market', cursive;
    font-family: 'Leckerli One', cursive;
    font-family: 'Yatra One', cursive;
    font-weight: 900;
    letter-spacing: 1px;
}
.nav ul>li a:hover{
    color: rgb(217, 243, 250);
    
}
.ed-header img{
    height: 100px;
    width: 160px;
    margin-top: -16px;
    border-radius: 3px;
}