<header class="ed-header  s-py-2">
    <div class="ed-grid lg-grid-5">
      <!-- Logo  -->
      <div class="s-cross-center s-main-center lg-center">
          <img class="logo" src="/assets/donkoi.png">
      </div>
      <nav class="nav lg-cols-4 s-cross-center lg-center ed-grid full">
        <!--  Menú de navegación    -->
        <ul class="menu s-main-center lg-to-right s-mb-0 s-pl-0 s-pxy-1">
          <!--   Item de menú. Contiene link e ícono     -->
          <li class="s-center s-px-2 " routerLinkActive="active">
            <a class="nav-link" routerlink='/sushi'>Promociones</a>
          </li>
          <li class="s-center s-px-2 " routerLinkActive="active">
            <a class="nav-link" routerLink='/home'>DonKoi</a>
          </li>
          <li class="s-center s-px-2 " routerLinkActive="active">
            <a class="nav-link" routerlink='/sushi'>Sushi</a>
          </li>
          <li class="s-center s-px-2 " routerLinkActive="active">
            <a class="nav-link" routerLink='/sushi'>Bebidas</a>
          </li>
          <li class="s-center s-px-2 " routerLinkActive="active">
            <a class="nav-link" routerlink='/sushi'>Makis</a>
          </li>     
        </ul>
      </nav>
    </div>
  </header>
