<div class="s-cross-center s-main-center lg-main-start ed-container full sushi s-py-4 ">
   <div class="info ed-item s-left m-left lg-left s-py-2">
    <span>Sushi-fusión</span>
   </div>

    <div class="ed-grid s-grid-3 xl-grid-4 carto s-py-2">
        <div class="card"> <img class="full" src="/assets/promo_01.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_02.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_03.png"></div>
        <div class="card"> <img class="full" src="/assets/promo_04.png"></div>
    </div>
    <div class="ed-grid s-grid-3 xl-grid-4 carto s-py-2">
        <div class="card"> <img class="full" src="/assets/promo_05.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_06.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_07.jpg"></div>
        <div class="card"> <img class="full" src="/assets/promo_08.png"></div>

    </div>
    <div class="ed-grid s-grid-3 xl-grid-4 carto s-py-2">
        <div class="card"> <img class="full" src="/assets/promo_09.png"> </div>
        <div class="card"> <img class="full" src="/assets/pormo_10.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_11.png"></div>
        <div class="card"> <img class="full" src="/assets/promo_12.png"></div>
    </div>
    <div class="ed-grid s-grid-3 xl-grid-4 carto s-py-2">
        <div class="card"> <img class="full" src="/assets/promo_05.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_06.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_07.jpg"></div>
        <div class="card"> <img class="full" src="/assets/promo_08.png"></div>

    </div>
    <div class="ed-grid s-grid-3 xl-grid-4 carto s-py-3">
        <div class="card"> <img class="full" src="/assets/promo_01.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_02.png"> </div>
        <div class="card"> <img class="full" src="/assets/promo_03.png"></div>
        <div class="card"> <img class="full" src="/assets/promo_04.png"></div>
    </div>
<div class="ed-container full breakpoint-center"></div>

</div>
<app-footer></app-footer>