.sushi{
    margin-top: 80px;
}
.sushi  .info span {
    margin-left: 30px;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Amatic SC', cursive;
    font-family: 'Leckerli One', cursive;   
}
 .sushi .carto img{ 
    border-radius: 7px;
}
