.full {
    position:relative;
    background: url("/assets/banner.png") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.info{
    margin-top: 80px;
}
.info-group{
    margin-top: 35px;
}
.full img{
    margin-top: 10px;
    width: 100%;
    height: 650px;
}
.banner_02 {
    position:relative;
    background: url("/assets/banner_02.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
}
.banner_02 img{
    margin-top: 40px;
    width: 100%;
    height: 210px;

}
.carta img{
    
    width: 370px;
    height: 290px;
    border-radius: 6px;
    display: block;
    margin-top: 20px;
}
.carta img:hover{
    transform: scale(1.02);
    transition: .5s; 
    opacity: .8;
    
}
.ed-container{
    width: 100%;
    height: 10%;
    background: rgb(241, 239, 239);
}
.ed-container .ed-item span{
   
    font-size: 50px;
    font-weight: 850;
    font-family: 'Amatic SC', cursive;
    font-family: 'Leckerli One', cursive; 
    text-decoration: underline overline;
    color: rgb(1, 39, 41);
}
.footer{
    width: 100%;
    margin-top: 40px;
}