
<div class="s-cross-center s-main-center lg-main-start ed-container full sushi s-py-0 ">

    <div class="info ed-item s-center m-center lg-center s-py-4">
        <span>DON KOI - Sushi</span>
       </div>

    <img class="full s-py-3">
    <div class="info-group ed-item s-center m-center lg-center s-py-1">
        <span>Comparte con DON KOI</span>
       </div>

    <div class="ed-grid s-grid-3 xl-grid-4 rows-gap carta">
        <div class="card"> <img class="card" src="/assets/promo_01.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_02.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_03.png"></div>
        <div class="card"> <img class="card" src="/assets/promo_04.png"></div>
    </div>
    <div class="ed-grid s-grid-3 xl-grid-4 rows-gap carta ">
        <div class="card"> <img class="card" src="/assets/promo_05.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_06.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_07.jpg"></div>
        <div class="card"> <img class="card" src="/assets/promo_08.png"></div>

    </div>
    <div class="info-group ed-item s-center m-center lg-center s-py-1">
        <span>sushi-makis-acevichados</span>
       </div>
       <div class="ed-container full banner_02">
       <img class="banner_02">
       </div>
       
    <div class="ed-grid s-grid-3 xl-grid-4 rows-gap s-py-3 carta ">
        <div class="card"> <img class="card" src="/assets/promo_09.png"> </div>
        <div class="card"> <img class="card" src="/assets/pormo_10.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_11.png"></div>
        <div class="card"> <img class="card" src="/assets/promo_12.png"></div>
    </div>
    
    <div class="ed-grid s-grid-3 xl-grid-4 rows-gap carta ">
        <div class="card"> <img class="card" src="/assets/promo_09.png"> </div>
        <div class="card"> <img class="card" src="/assets/pormo_10.png"> </div>
        <div class="card"> <img class="card" src="/assets/promo_11.png"></div>
        <div class="card"> <img class="card" src="/assets/promo_12.png"></div>
    </div>
    
</div>
<div class=" footer">
<app-footer></app-footer>
</div>